.button {
    border: unset;
    padding: unset;

    white-space: nowrap;
    border-radius: 12px;
    text-align: center;

    cursor: pointer;

    transition: all 300ms;

    &:hover {
        background-color: var(--light-peach);

        & > * {
            color: var(--white) !important;
        }
    }
}

.button--light {
    background-color: var(--white);
}

.button--dark {
    background-color: var(--peach);
}
