.text {
    transition: all 300ms;
}

.font-rg {
    font-size: var(--text-regular);
}

.font-md {
    font-size: var(--text-medium);
}

.font-lg {
    font-size: var(--text-large);
}

.font-xlg {
    font-size: var(--text-xlarge);
}

.text-medium {
    font-weight: var(--font-weight-medium);
}

.big-lineheight {
    line-height: 48px;
}

.small-lineheight {
    line-height: 26px;
}
