.text__h1 {
    font-weight: 500;
    line-height: 48px;
}

.text__h2 {
    font-weight: 500;
    line-height: 48px;
    word-spacing: +2px;
}

.text__h3 {
    font-weight: 500;
    line-height: 26px;
    word-spacing: +5px;
}

.text__body {
    font-weight: 400;
    line-height: 26px;
}
