.text {
    transition: all 300ms;
    font-weight: var(--font-weight-medium);
    line-height: 48px;

    &__h1 {
        font-size: var(--text-h1);
    }

    &__h2 {
        font-size: var(--text-h2);
        word-spacing: +2px;
    }

    &__h3 {
        font-size: var(--text-h3);
        line-height: 26px;
        word-spacing: +5px;
    }

    &__body {
        font-size: var(--text-body);
        font-weight: var(--font-weight-regular);
        line-height: 26px;
    }
}
