*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

@font-face {
    font-family: 'Jost';
    src: url(./assets/fonts/Jost.ttf) format('truetype');
}

:root {
    --peach: #e7816b;
    --light-peach: #ffad9b;
    --black: #1d1c1e;
    --dark-grey: #333136;
    --white: #ffffff;
    --light-grey: #f1f3f5;

    font-family: 'Jost';

    --text-xlarge: 48px;
    --text-large: 40px;
    --text-medium: 20px;
    --text-regular: 16px;

    --font-weight-medium: 500;
    --font-weight-regular: 400;
}

html {
    height: 100%;
}

#root {
    height: 100%;
}
